<%= link_to "Portal CTO", root_path, :class => 'navbar-brand' %>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li>
      <%= link_to '<span class="glyphicon glyphicon-leaf"></span> Org Tree'.html_safe, orgtrees_path %>
    </li>
    <li>
      <%= link_to  '<span class="glyphicon glyphicon-user"></span> Edit account'.html_safe, edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to '<span class="glyphicon glyphicon-cog"></span> Admin'.html_safe, users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
      <li>
        <%= link_to '<span class="glyphicon glyphicon-off"></span> Logout'.html_safe, destroy_user_session_path, :method=>'delete' %>
      </li>
  <% else %>
      <li>
        <%= link_to 'Login', new_user_session_path %>
      </li>
  <% end %>
</ul>
